/* Estilos globales */
:not(:defined) {
  visibility: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif !important;
    background-color: #f7f7f7;
    background: url('assets/img/fondo-form-dinamico.png') no-repeat center center fixed;
    transition: visibility 0.3s ease-in-out;
}

body::-webkit-input-placeholder {
    font-family: 'Rubik', sans-serif;
}

p {
  font-size: 1rem;
  color: var(--negro-texto);
  line-height: 1.45;
}

:root {
  --blanco-gris: #F2F2F2;
  --tuquesa: #1172A8;
  --rojo: #C11718;
  --negro: #2D2D2D;
  --negro-texto: #444444;
  --degr-turquesa-oscuro: linear-gradient(90deg, #1584C2 0%, #0A3F5C 100%);
  --degr-negro: linear-gradient(90deg, #2D2D2D 0%, #0A3F5C 100%);
}



/* Estilos personalizados para Shoelace */

.btn-enviar::part(base) {
  font-family: 'Rubik', sans-serif !important;
  font-weight: 200;
  color: var(--blanco-gris);
  background: var(--tuquesa);
  transition: all .35s ease-in-out;
}

@media (hover:hover) {
  .btn-enviar::part(base):hover {
    color: var(--blanco-gris);
    background: var(--negro);
    border: 1px solid var(--tuquesa);
  }
}



/* Estilos particulares */
.container {
  display: flex;
  width: clamp(200px, 80vw, 90vw);
  max-width: 90%;
  gap: 2rem;
  margin: 50px auto;
  padding: 20px;
  background: var(--blanco-gris);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
}






/* Formulario  */

form {
  padding: 1rem;
  max-width: 80%;
}

.form-field {
  display: flex;
}


/* Tarjetas */

sl-card {
  cursor: pointer;
  max-width: 300px;
  transition: transform 0.3s ease;
}
sl-card:hover {
  transform: scale(1.05);
}

.card {
  min-width: 400px;
  height: max-content;
}

.card-grid {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

.field-form {
  display: flex;
  flex-direction: column;
  margin: 1rem 0rem;
  border-radius: 10px;
  border: 1px solid #ccc;
  overflow: hidden;
}



/* Mensaje de Bienvenida */
.mensaje-inicio h2 {
  font-size: 3rem;
  margin: 1rem .3rem .3rem;
  color: var(--blanco-gris);
}

.mensaje-inicio p {
  margin: .45rem;
}

.texto {
  display: flex;
  gap: 3rem;
}

.texto div {
  flex: 1;
}

.texto p,
.texto h2 {
  color: var(--blanco-gris);
}

.nexos a,
.nexos p {
  color: var(--blanco-gris);
  text-decoration: none;
}

.nexos a {
  padding-bottom: .35rem;
  border-bottom: 1px solid var(--blanco-gris) ;
}

section#bienvenidx {
  border-radius: 10px;
  padding: 3rem;
  margin: 6rem;
  background-color: rgb(204, 204, 204, 0.35);
}

.bienvenida-accion {
  text-align: end;
}